<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/create-group" method="post">
      <section>
        <label for="Group Name">Email</label>
        <input id="groupName" name="groupName" type="text" required autofocus />
      </section>
      <button type="submit">Sign in</button>
    </form>
  </body>
</html>
