<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Success</title>
  </head>
  <body>
    <h1>Welcome <%= firstName %>, You have successfully logged in.</h1>
    <section>
      <h2>I want to...</h2>
      <a href="*">Create a new group</a>
      <a href="*">Join an existing group</a>
      <form action="/auth/logout" method="post">
        <input type="submit" name="logout" value="Logout" />
      </form>
    </section>
  </body>
</html>
